
.container {
    height: 600px;
    width: 1000px;
    display: grid;
    grid-template-columns: 200px 600px 200px;
    margin: 0 auto;
}

.gameBoard {
    height: 600px;
    width: 600px;
    background: rgb(59, 73, 197);
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    margin: 0 auto;
}

.player {
    border: 2px solid white;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.vert {
    writing-mode: vertical-lr;
}

.blue {
    color:rgb(0, 200, 255)
}

.red {
    color: rgb(255, 100, 139);
}

.name-p1 {
    margin-top: auto;
    color:rgb(0, 200, 255)
}

.name-p2 {
    color: rgb(255, 100, 139);
}

.name-p3 {
    color:rgb(0, 200, 255)
}

.name-p4 {
    transform: rotate(180deg);
    margin-left: auto;
    color: rgb(255, 100, 139);
}

.center {
    align-items: center;
}

.btnDeal {
    margin-top: 40%;
    width: 100px;
    height: 50px;
    background-color: rgb(255, 102, 102);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.btnChoice {
    margin-top: auto;
    background-color: rgb(255, 102, 102);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.info-p3 {
    text-align: right;
}

.info-p4 {
    text-align: left;
    transform: rotate(180deg);
}

.info-p1 {
    margin-top: auto;
    text-align: left;
}

.info-p2 {
    text-align: left;
}

.scoring-container {
    display: grid;
    grid-template-columns: 250px 600px 250px;
    margin: 0 auto;
}

.score {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}